@use 'sass:math';

@import './base/_mixins';
@import './base/_fonts';
@import './base/_null-style';
@import 'swiper/css/bundle';

//=========================================================================================================================================================
// Общие параметры

// Основные цвета
$main-gray: #e9ebf7;
$main-black: #333;

// Оболочка
body {
	font-family: 'Exo2-Regular', sans-serif;
	font-size: rem(14);
	font-weight: 400;
	color: #aaa;
	line-height: normal;
	letter-spacing: normal;
	background: #fff;
}

.container {
	max-width: 1580px;
	margin: 0 auto;
	padding: 0 15px;
}

//=========================================================================================================================================================
//=========================================================================================================================================================
// Section Our-cases
.our-cases {
	// .our-cases__inner
	&__inner {
	}
	// .our-cases__title
	&__title {
		font-weight: 600;
		font-size: rem(60);
		color: $main-black;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: rem(30);
	}
	// .our-cases__content
	&__content {
		display: flex;
		border: 2px solid $main-gray;
		border-radius: rem(14);
		padding-bottom: rem(133);
	}
	// .our-cases__left-column
	&__left-column {
		max-width: rem(579);
		padding-top: rem(60);
		padding-right: rem(114);
		padding-left: rem(129);
	}
	// .our-cases__left-img
	&__left-img {
		position: relative;
		border-radius: rem(8);
		overflow: hidden;
		img {
			max-width: rem(336);
			// max-height: rem(732);
		}
	}
	// .our-cases__right-column
	&__right-column {
		max-width: rem(1001);
		padding-top: rem(60);
		padding-right: rem(71);
	}
	// .our-cases__right-top
	&__right-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: rem(930);
		margin-bottom: rem(30);
	}
}
.container {
}
.column-right {
	// .column-right__title
	&__title {
		font-weight: 700;
		font-size: rem(24);
		color: $main-black;
	}
	// .column-right__logo
	&__logo {
		max-width: rem(262);
	}
}
.swiper {
}
.our-cases-slider {
	width: 100%;
	margin: 0;
}
.swiper-pagination {
	position: static;
	display: flex;
	// gap: rem(150);
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: rem(36) rem(4);
	height: rem(90);
	border-radius: rem(37);
	background: $main-gray;
	margin-bottom: rem(30);
}
button.swiper-pagination-bullet {
	width: 100%;
	height: rem(52);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(17) 0 rem(18) 0;
	background: transparent;
	border-radius: rem(34);
	font-weight: 400;
	font-size: rem(14);
	color: $main-black !important;
	cursor: pointer;
	opacity: 0.6;
}
.swiper-pagination-bullet-active {
	background: #fff !important;
	opacity: 1 !important;
}
.swiper-wrapper {
}
.swiper-slide {
	display: flex;
	flex-direction: column;
	width: 100%;
	// margin-bottom: rem(30);
	cursor: grab;
}
.funnel-slide {
	margin-bottom: rem(30);
}
.funnel-top {
	display: flex;
	gap: rem(30);
	margin-bottom: rem(30);
	// .funnel-top__img
	&__img {
		max-width: rem(181);
	}
	// .funnel-top__info
	&__info {
		display: flex;
		flex-direction: column;
		gap: rem(32);
		max-width: rem(730);
	}
	// .funnel-top__item
	&__item {
		display: flex;
		position: relative;
		align-items: center;
		// max-width: rem(343);
		margin-left: rem(143);
	}
	// .funnel-top__icon
	&__icon {
	}
	// .funnel-top__number
	&__number {
		margin-left: rem(30);
		margin-right: rem(30);
		font-weight: 400;
		font-size: rem(40);
		color: $main-black;
	}
	// .funnel-top__text
	&__text {
		max-width: rem(150);
	}
	// .funnel-top__devider
	&__devider-users {
		position: absolute;
		max-width: rem(400);
		left: -24px;
		right: 0;
		bottom: -17px;
	}
	&__devider-requests {
		position: absolute;
		max-width: rem(458);
		left: -85px;
		right: 0;
		bottom: -17px;
	}
	&__devider-price {
		position: absolute;
		max-width: rem(515);
		left: -143px;
		right: 0;
		bottom: -17px;
	}
}
.funnel-bottom {
	display: flex;
	gap: rem(75);
	align-items: center;
	padding-bottom: rem(30);
	border-bottom: 1px solid $main-gray;
	// .funnel-bottom__marketing
	&__marketing {
		display: flex;
		align-items: center;
		gap: rem(20);
		max-width: rem(355);
		padding: 30px 76px 35px 25px;
		border: 1px solid $main-gray;
		border-radius: rem(7);
	}

	// .funnel-bottom__marketing-icon
	&__marketing-icon {
	}
	// .funnel-bottom__marketing-info
	&__marketing-info {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .funnel-bottom__marketing-price
	&__marketing-price {
		font-weight: 700;
		font-size: rem(24);
		color: $main-black;
	}
	// .funnel-bottom__marketing-text
	&__marketing-text {
		font-weight: 400;
		font-size: rem(14);
	}
	// .funnel-bottom__info
	&__info {
		font-weight: 700;
		font-size: rem(14);
		color: #43bea2;
	}
}
.was-becam-slide {
	margin-bottom: rem(30);
}
.was-became {
	// .was-became__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: rem(30);
		padding-bottom: rem(30);
		border-bottom: 1px solid $main-gray;
	}
	// .was-became__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: rem(930);
		border: 1px solid $main-gray;
		padding: 21px 49px 22px 38px;
	}
	// .was-became__info-left
	&__info-left {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .was-became__title
	&__title {
		font-weight: 700;
		font-size: rem(23);
		color: #000;
	}
	// .was-became__text
	&__text {
		font-weight: 400;
		font-size: rem(14);
		color: $main-black;
	}
	// .was-became__info-right
	&__info-right {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding-top: rem(48);
	}
	// .was-became__price
	&__price {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: rem(13.11);
		width: 163px;
		height: 164px;
		border-radius: 100%;
		background: $main-gray;
		:nth-child(1) {
			font-weight: 600;
			font-size: rem(14);
			text-align: center;
			color: $main-black;
		}
		:nth-child(2) {
			font-weight: 700;
			font-size: rem(23);
			text-align: center;
			color: $main-black;
		}
	}
	// .was-became__price-text
	&__price-text {
	}
}
.about-slide {
	margin-bottom: rem(30);
	// .about-slide__inner
	&__inner {
		display: flex;
		gap: rem(70);
		padding-bottom: rem(30);
		border-bottom: 1px solid;
	}
	// .about-slide__left
	&__left {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		max-width: rem(430);
	}
	// .about-slide__item
	&__item {
	}
	// .about-slide__title
	&__title {
		font-weight: 700;
		font-size: rem(23);
		color: $main-black;
		margin-bottom: rem(20);
	}
	// .about-slide__text
	&__text {
		font-weight: 400;
		font-size: rem(14);
		color: $main-black;
	}
	// .about-slide__right
	&__right {
		max-width: rem(430);
	}
	// .about-slide__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .about-slide__list-item
	&__list-item {
		color: $main-black;
		padding-left: rem(7);
		list-style: disc;
		list-style-position: inside;
	}
}
.done-slide {
	margin-bottom: rem(30);
	// .done-slide__inner
	&__inner {
		display: flex;
		gap: rem(70);
		padding-bottom: rem(30);
		border-bottom: 1px solid $main-gray;
	}
	// .done-slide__left
	&__left {
		padding-left: rem(20);
	}
	// .done-slide__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .done-slide__list-item
	&__list-item {
		color: $main-black;
		list-style: disc;
		list-style-position: outside;
	}
	// .done-slide__right
	&__right {
	}
}
.swiper-controls {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.order {
	// .order__btn
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: rem(200);
		min-height: rem(53);
		// padding: rem(18) 0;
		border-radius: rem(39);
		background: #43bea2;
		font-weight: 400;
		font-size: rem(14);
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background: #fff;
			border: 1px solid #43bea2;
			color: #43bea2;
		}
	}
}
