@use 'sass:math';

@import './base/_mixins';
@import './base/_fonts';
@import './base/_null-style';

//=========================================================================================================================================================
// Общие параметры
// Оболочка
body {
	font-family: 'Exo2-Regular', sans-serif;
	font-size: rem(14);
	font-weight: 400;
	color: #aaa;
	line-height: normal;
	letter-spacing: normal;
	background: #fff;
}

.container {
	max-width: 1580px;
	margin: 0 auto;
	padding: 0 15px;
}

//=========================================================================================================================================================
//=========================================================================================================================================================
// Section Our-cases
