@use 'sass:math';

@import './base/_mixins';
@import './base/_fonts';
@import './base/_null-style';
@import 'swiper/css/bundle';

//=========================================================================================================================================================
// Общие параметры

// Основные цвета
$main-gray: #e9ebf7;
$main-black: #333;

// Оболочка
body {
	font-family: 'Exo2-Regular', sans-serif;
	font-size: rem(14);
	font-weight: 400;
	color: #aaa;
	line-height: normal;
	letter-spacing: normal;
	background: #fff;
}

.container {
	max-width: 1580px;
	margin: 0 auto;
	padding: 0 15px;
}

//=========================================================================================================================================================
//=========================================================================================================================================================
// Section Our-cases
.our-cases {
	// .our-cases__inner
	&__inner {
	}
	// .our-cases__title
	&__title {
		font-weight: 600;
		font-size: rem(60);
		color: $main-black;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: rem(30);
	}
	// .our-cases__content
	&__content {
		position: relative;
		display: flex;
		border: 2px solid $main-gray;
		border-radius: rem(14);
		padding-bottom: rem(133);
	}
	// .our-cases__left-column
	&__left-column {
		max-width: rem(579);
		padding-top: rem(60);
		padding-right: rem(114);
		padding-left: rem(129);
	}
	// .our-cases__left-img
	&__left-img {
		position: relative;
		border-radius: rem(8);
		overflow: hidden;
		img {
			max-width: rem(336);
			// max-height: rem(732);
		}
	}
	// .our-cases__right-column
	&__right-column {
		max-width: rem(1001);
		padding-top: rem(60);
		padding-right: rem(71);
	}
	// .our-cases__right-top
	&__right-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: rem(930);
		margin-bottom: rem(30);
	}
}
.container {
}
.column-right {
	// .column-right__title
	&__title {
		font-weight: 700;
		font-size: rem(24);
		color: $main-black;
	}
	// .column-right__logo
	&__logo {
		max-width: rem(262);
	}
}
.swiper {
}
.our-cases-slider {
	width: 100%;
	margin: 0;
}
.swiper-pagination {
	position: static;
	display: flex;
	// gap: rem(150);
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: rem(36) rem(4);
	height: rem(90);
	border-radius: rem(37);
	background: $main-gray;
	margin-bottom: rem(30);
}
button.swiper-pagination-bullet {
	width: 100%;
	height: rem(52);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(17) 0 rem(18) 0;
	background: transparent;
	border-radius: rem(34);
	font-weight: 400;
	font-size: rem(14);
	color: $main-black !important;
	cursor: pointer;
	opacity: 0.6;
}
.swiper-pagination-bullet-active {
	background: #fff !important;
	opacity: 1 !important;
}
.swiper-wrapper {
}
.swiper-slide {
	display: flex;
	flex-direction: column;
	width: 100%;
	// margin-bottom: rem(30);
	cursor: grab;
}
.funnel-slide {
	margin-bottom: rem(30);
}
.funnel-top {
	display: flex;
	gap: rem(30);
	margin-bottom: rem(30);
	// .funnel-top__img
	&__img {
		max-width: rem(181);
	}
	// .funnel-top__info
	&__info {
		display: flex;
		flex-direction: column;
		gap: rem(32);
		max-width: rem(730);
	}
	// .funnel-top__item
	&__item {
		display: flex;
		position: relative;
		align-items: center;
		// max-width: rem(343);
		margin-left: rem(143);
	}
	// .funnel-top__icon
	&__icon {
	}
	// .funnel-top__number
	&__number {
		margin-left: rem(30);
		margin-right: rem(30);
		font-weight: 400;
		font-size: rem(40);
		color: $main-black;
	}
	// .funnel-top__text
	&__text {
		max-width: rem(150);
	}
	// .funnel-top__devider
	&__devider-users {
		position: absolute;
		max-width: rem(400);
		left: -24px;
		right: 0;
		bottom: -17px;
	}
	&__devider-requests {
		position: absolute;
		max-width: rem(458);
		left: -85px;
		right: 0;
		bottom: -17px;
	}
	&__devider-price {
		position: absolute;
		max-width: rem(515);
		left: -143px;
		right: 0;
		bottom: -17px;
	}
}
.funnel-bottom {
	display: flex;
	gap: rem(75);
	align-items: center;
	padding-bottom: rem(30);
	border-bottom: 1px solid $main-gray;
	// .funnel-bottom__marketing
	&__marketing {
		display: flex;
		align-items: center;
		gap: rem(20);
		max-width: rem(355);
		padding: 30px 76px 35px 25px;
		border: 1px solid $main-gray;
		border-radius: rem(7);
	}

	// .funnel-bottom__marketing-icon
	&__marketing-icon {
	}
	// .funnel-bottom__marketing-info
	&__marketing-info {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .funnel-bottom__marketing-price
	&__marketing-price {
		font-weight: 700;
		font-size: rem(24);
		color: $main-black;
	}
	// .funnel-bottom__marketing-text
	&__marketing-text {
		font-weight: 400;
		font-size: rem(14);
	}
	// .funnel-bottom__info
	&__info {
		font-weight: 700;
		font-size: rem(14);
		color: #43bea2;
	}
}
.was-becam-slide {
	margin-bottom: rem(30);
}
.was-became {
	// .was-became__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: rem(30);
		padding-bottom: rem(30);
		border-bottom: 1px solid $main-gray;
	}
	// .was-became__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: rem(930);
		border: 1px solid $main-gray;
		padding: 21px 49px 22px 38px;
	}
	// .was-became__info-left
	&__info-left {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .was-became__title
	&__title {
		font-weight: 700;
		font-size: rem(23);
		color: #000;
	}
	// .was-became__text
	&__text {
		font-weight: 400;
		font-size: rem(14);
		color: $main-black;
	}
	// .was-became__info-right
	&__info-right {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding-top: rem(48);
	}
	// .was-became__price
	&__price {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: rem(13.11);
		width: 163px;
		height: 164px;
		border-radius: 100%;
		background: $main-gray;
		:nth-child(1) {
			font-weight: 600;
			font-size: rem(14);
			text-align: center;
			color: $main-black;
		}
		:nth-child(2) {
			font-weight: 700;
			font-size: rem(23);
			text-align: center;
			color: $main-black;
		}
	}
	// .was-became__price-text
	&__price-text {
	}
}
.about-slide {
	margin-bottom: rem(30);
	// .about-slide__inner
	&__inner {
		display: flex;
		gap: rem(70);
		padding-bottom: rem(30);
		border-bottom: 1px solid;
	}
	// .about-slide__left
	&__left {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		max-width: rem(430);
	}
	// .about-slide__item
	&__item {
	}
	// .about-slide__title
	&__title {
		font-weight: 700;
		font-size: rem(23);
		color: $main-black;
		margin-bottom: rem(20);
	}
	// .about-slide__text
	&__text {
		font-weight: 400;
		font-size: rem(14);
		color: $main-black;
	}
	// .about-slide__right
	&__right {
		max-width: rem(430);
	}
	// .about-slide__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .about-slide__list-item
	&__list-item {
		color: $main-black;
		padding-left: rem(7);
		list-style: disc;
		list-style-position: inside;
	}
}
.done-slide {
	margin-bottom: rem(30);
	// .done-slide__inner
	&__inner {
		display: flex;
		gap: rem(70);
		padding-bottom: rem(30);
		border-bottom: 1px solid $main-gray;
	}
	// .done-slide__left
	&__left {
		padding-left: rem(20);
		max-width: rem(430);
	}
	// .done-slide__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .done-slide__list-item
	&__list-item {
		color: $main-black;
		list-style: disc;
		list-style-position: outside;
	}
	// .done-slide__right
	&__right {
		max-width: rem(430);
	}
}
.swiper-controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 45%;
	// transform: translateY(-50%);
}
.swiper-button-prev {
	left: rem(0);
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
		left: -10.5vw;
		width: 13vw;
		height: 15vw;
		background: #e9ebf7;
		border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
		z-index: -1;
	}
	&::after {
		font-size: rem(60);
		color: #000;
		transition: all 0.3s ease;
	}
	&:hover {
		&::after {
			color: #fff;
			transform: translateX(rem(-15));
		}
	}
}
.swiper-button-next {
	right: rem(0);
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -10.5vw;
		width: 13vw;
		height: 15vw;
		background: #e9ebf7;
		border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
		z-index: -1;
	}
	&::after {
		font-size: rem(60);
		color: #000;
		transition: all 0.3s ease;
	}
	&:hover {
		&::after {
			color: #fff;
			transform: translateX(rem(15));
		}
	}
}
.order {
	// .order__btn
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: rem(200);
		min-height: rem(53);
		// padding: rem(18) 0;
		border-radius: rem(39);
		background: #43bea2;
		font-weight: 400;
		font-size: rem(14);
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background: #fff;
			border: 1px solid #43bea2;
			color: #43bea2;
		}
	}
}

//=========================================================================================================================================================
//=========================================================================================================================================================
// Адаптив
@media (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
	}

	.our-cases__content {
		padding: 0;
	}

	.our-cases__left-column {
		padding: rem(60);
	}

	.our-cases__right-column {
		padding-right: rem(60);
		max-width: rem(650);
	}

	.swiper-button-prev {
		left: rem(0);
		&::before {
			content: '';
			width: 14vw;
		}
	}
	.swiper-button-next {
		right: rem(0);
		&::before {
			content: '';
			width: 14vw;
		}
	}

	.funnel-top {
		display: flex;
		align-items: center;
	}

	.funnel-top__item {
		margin-left: rem(30);
	}

	.was-became__item {
		padding: rem(21);
	}

	.was-became__text {
		font-size: rem(12);
	}

	.was-became__price {
		width: rem(140);
		height: rem(140);
		:nth-child(1) {
			font-size: rem(12);
		}
		:nth-child(2) {
			font-size: rem(18);
		}
	}
}

@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}

	.our-cases__content {
		align-items: center;
	}

	.our-cases__left-column {
		padding: rem(40);
	}

	.our-cases__left-img {
		img {
			max-width: rem(288);
		}
	}

	.our-cases__right-column {
		padding: rem(30);
		max-width: rem(556);
	}

	.funnel-top__devider-users {
		display: none;
	}
	.funnel-top__devider-requests {
		display: none;
	}
	.funnel-top__devider-price {
		display: none;
	}

	.funnel-top__item {
		margin-left: rem(-18);
	}

	.funnel-top__number {
		font-size: rem(20);
		margin-left: rem(10);
		margin-right: rem(10);
	}

	.was-became__info-text {
		display: flex;
		flex-direction: column;
	}

	.was-became__info-right {
		padding-top: rem(20);
	}

	.swiper-button-prev {
		left: -2rem;
	}

	.swiper-button-next {
		right: -2rem;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}

	.our-cases__left-column {
		padding: rem(20);
	}

	.our-cases__left-img {
		img {
			max-width: rem(208);
		}
	}

	.our-cases__right-column {
		padding: rem(15);
		max-width: rem(435);
	}

	.our-cases__right-top {
		max-width: rem(408);
	}

	.column-right__title {
		font-size: rem(16);
	}

	.column-right__logo {
		max-width: rem(182);
	}

	.swiper-button-prev {
		&::before {
			width: 18vw;
			height: 18vw;
			left: -8rem;
		}
	}

	.swiper-button-next {
		&::before {
			width: 18vw;
			height: 18vw;
			right: -8rem;
		}
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
	}

	.our-cases__title {
		font-size: rem(45);
	}

	.our-cases__content {
		justify-content: center;
	}

	.our-cases__left-column {
		display: none;
	}

	.our-cases__right-column {
		max-width: rem(470);
	}

	.funnel-top {
		flex-direction: column;
	}

	.funnel-top__item {
		margin-left: rem(0);
		justify-content: center;
	}

	.funnel-top__number {
		margin-left: rem(30);
		margin-right: rem(30);
		font-size: rem(30);
	}

	.funnel-bottom {
		flex-direction: column;
		gap: rem(30);
	}

	.order {
		display: flex;
		justify-content: center;
	}

	.swiper-button-prev {
		left: -2rem;
		&::before {
			width: 18vw;
			height: 18vw;
			left: -6rem;
		}
		&::after {
			font-size: rem(40);
		}
	}

	.swiper-button-next {
		right: -2rem;
		&::before {
			width: 18vw;
			height: 18vw;
			right: -6rem;
		}
		&::after {
			font-size: rem(40);
		}
	}
}

@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}

	.our-cases__right-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.column-right__title {
		max-width: rem(260);
		font-size: rem(24);
		text-wrap: wrap;
	}
	.column-right__logo {
		display: none;
	}

	.our-cases-slider {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.swiper-tabs {
		display: flex;
		flex-direction: column;
		max-width: rem(260);
		height: 100%;
	}

	.funnel-top__item {
		align-items: center;
		gap: rem(25);
	}

	.funnel-top__number {
		font-size: rem(40);
	}

	.funnel-top__right-block {
		text-align: center;
	}

	.funnel-bottom__marketing {
		padding: rem(20);
		min-width: rem(218);
	}

	.funnel-bottom__marketing-icon {
		display: none;
	}

	.funnel-bottom__info {
		max-width: rem(260);
		text-align: center;
		:first-child {
			margin-bottom: rem(10);
		}
	}

	.was-became__item {
		flex-direction: column;
		gap: rem(30);
	}

	.about-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about-slide__inner {
		flex-direction: column;
		max-width: rem(260);
		gap: rem(30);
	}

	.done-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.done-slide__inner {
		flex-direction: column;
		max-width: rem(260);
		gap: rem(30);
	}
	.done-slide__right {
		padding-left: 1.25rem;
	}

	.swiper-button-prev {
		// left: rem(0);
		// &::before {
		// 	width: 25vw;
		// 	height: 25vw;
		// 	left: -6rem;
		// 	border-radius: 50%;
		// }
		display: none;
	}

	.swiper-button-next {
		// right: rem(0);
		// &::before {
		// 	width: 25vw;
		// 	height: 25vw;
		// 	right: -6rem;
		// 	border-radius: 50%;
		// }
		display: none;
	}
}
